* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #f5f6fa;
  --dark-blue: #1c2541;
  --light-blue: #3a506b;
  --green-soft: #5bc0be;
  --green: #29cb97;
  --white: #ffffff;
  --red-soft: #ee4266;
  --yellow: #fbf336;
  --grey-line: #ebedf493;
}

html {
  background: var(--main-bg-color);
  font-family: "Roboto", sans-serif;
  /* this sets 1rem = 10px */
  font-size: 62.5%;
}

nav {
  background: var(--dark-blue);
  color: var(--white);
  padding: 2em;
}

.logo {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 2rem;
}

.logo h1 {
  padding-left: 0.5em;
}

/* tables */

.main-table {
  padding: 5rem;
  max-width: 80%;
  margin-top: 10rem;
  margin-left: 10%;
  margin-right: 10%;

  background: var(--white);
  box-shadow: 0px 1px 4px #e5e9f2;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.data h1 {
  font-size: 3rem;
  padding-bottom: 1em;
}

th,
td {
  /* Need to get text to top of row */
  border-bottom: 0.1rem solid var(--grey-line);
  text-align: left;
  font-size: 1.5rem;
  padding: 1rem;
}

th {
  font-size: 2rem;
}

tr {
  vertical-align: top;
}

.sentiment {
  padding: 1.5rem;
  min-width: 100%;

  border: none;
  border-radius: 1rem;
  text-align: center;

  pointer-events: none;
}

.bull {
  background: var(--green);
}

.bear {
  background: var(--red-soft);
}

.neutral {
  background: var(--yellow);
}

td .fa-certificate {
  font-size: 1.5rem;
  text-align: right;
  padding-left: 2rem;
  color: var(--light-blue);
}

/* add container */
.second {
  background: none;
  margin-top: 0;
  box-shadow: none;
}

.add-popup {
  background: var(--white);
  box-shadow: 0px 1px 4px #e5e9f2;
  /* border: 1rem solid #1c2541; */
  font-size: 1.5rem;
  padding: 2rem;
}

input {
  padding: 1rem;
}

input[type="radio"] {
  margin: 1rem;
  width: 1rem;
}

.form h2 {
  padding: 1rem 0;
}

.add-stock {
  /* padding: rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-stock {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stock-button {
  background: var(--light-blue);
  color: var(--white);
  padding: 2rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.stock-button:hover {
  background: var(--dark-blue);
  /* font-size: 2rem; */
}
